h1, h2, h3, h4, h5 {
  color: #2191FB;
}

input {
  background-color: #B2ECE1;
}

input {
  color: #fff;
}

p {
  color: #000;
}

label {
  color: #bebebe;
}

.login-card {
  width: 350px;
  margin: 100px auto;
  border-radius: 15px;
}

body {
    background-color: #f4f4f4;
}

.main-container {
    margin-top: 40px;
}


